body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #292525;
}
body {
	background-color: #FFFFFF;
	background-image: url(/images/taling.jpg);
background-repeat:repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
padding:0px;
}
a:link {
	color: #292525;
}
a:visited {
	color: #292525;
}
a:hover {
	color: #292525;
}
a:active {
	color: #292525;
}
.menu{
background-image:url(/images/menu.jpg);background-repeat:no-repeat;
}
.slide{
background-image:url(/images/menu_beforelogo.jpg);background-repeat:no-repeat;
}
#white{
color:#FFFFFF;
}
#whitetxt{
color:#FFFFFF;text-decoration:none;
}
.style4 {font-size: 12px; font-weight: bold; }
.style6 {font-size: 12px; font-weight: bold; color: #40728C; }
.style7 {font-size: 12px}
.category{
background-image:url(/images/category.jpg);background-repeat:no-repeat;width:202px;height:31px;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;
}
.linkmenu{
width:202px;height:20px;font-size:12px;
}
.red{
color:#FF0000;
}
.popular{
background-image:url(/images/popular.jpg);background-repeat:no-repeat;
}
.popular_text{
font-size:14px;font-weight:bold;color:#FFFFFF;
}
.popular_center{
background-image:url(/images/taling_center.jpg);background-repeat:repeat-y;
}
.newtovar{
background-image:url(/images/newtovar.jpg);background-repeat:no-repeat;
}
.price{
color:#FF0000;font-size:18px;
}
#blue1{
color:#368DC5;
}
.productleft_top{
margin-right:32px;margin-bottom:22px;float:left;
}

.style1 {
font-size:20pt;
}
.productListing-heading {
background-color:grey;
border-spacing: 2px;
}


.boxText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #cc0033; }
.productsNotifications { background: #f2fff7; }
.orderEdit { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }

BODY {
  background: #ffffff;
  color: #000000;
  margin: 0px;
}

A {
  color: #000000;
  text-decoration: none;
}

A:hover {
  color: #AABBDD;
  text-decoration: underline;
}

FORM {
	display: inline;
}

TR.header {
  background: #ffffff;
}

TR.headerNavigation {
  background: #1D417C;
}

TD.headerNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #1D417C;
  color: #ffffff; 
  font-weight : bold;
}

A.headerNavigation {
  /*color: #FFFFFF; цвет ссылок в шапке*/
  color: #334C6A;
}

A.headerNavigation:hover {
  color: #DE4E15;
}

TR.headerError {
  background: #ff0000;
}

TD.headerError {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TR.headerInfo {
  background: #00ff00;
}

TD.headerInfo {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #00ff00;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

TR.footer {
  background: #1D417C;
}

TD.footer {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #1D417C;
  color: #ffffff;
  font-weight: bold;
}

.infoBox {
  background: #b6b7cb;
}

.infoBoxContents {
  background: #f8f8f9;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

.infoBoxNotice {
  background: #FF8E90;
}

.infoBoxNoticeContents {
  background: #FFE6E6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.infoBoxHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  /*background: #1D417C;*/
  color: #385373;
}

TD.infoBox, SPAN.infoBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.shippingOptions-odd {
  background: #f8f8f9;
}

TR.upcomingProducts-odd {
 background: #f8f8f9;
}


TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background: #f8f8f9;
}

TABLE.productListing {
  border: 1px;
  border-style: solid;
  /*border-color: #b6b7cb; обводка списка продуктов*/
  border-color: #C7C3BC;
  border-spacing: 1px;
}

.productListing-heading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  /*background: #b6b7cb; загаловок списка продуктов*/
  background: #C7C3BC;
  color: #FFFFFF;
  font-weight: bold;
}

TD.productListing-data {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

A.pageResults {
  color: #0000FF;
}

A.pageResults:hover {
  color: #0000FF;
  background: #FFFF33;
}

TD.pageHeading, DIV.pageHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #9a9a9a;
}

TR.subBar {
  background: #f4f7fd;
}

TD.subBar {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #000000;
}

TD.main, P.main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

TD.smallText, SPAN.smallText, P.smallText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.accountCategory {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #aabbdd;
}

TD.fieldKey {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

TD.fieldValue {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

TD.tableHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

SPAN.newItemInCart {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #ff0000;
}

CHECKBOX, INPUT, RADIO, SELECT {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

TEXTAREA {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

SPAN.greetUser {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #f0a480;
  font-weight: bold;
}

TABLE.formArea {
  background: #f1f9fe;
  border-color: #7b9ebd;
  border-style: solid;
  border-width: 1px;
}

TD.formAreaTitle {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

SPAN.markProductOutOfStock {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #c76170;
  font-weight: bold;
}

SPAN.productSpecialPrice {
  font-family: Verdana, Arial, sans-serif;
  color: #ff0000;
}

SPAN.errorText {
  font-family: Verdana, Arial, sans-serif;
  color: #ff0000;
}

.moduleRow { }
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; cursor: hand; }
.moduleRowSelected { background-color: #E9F4FC; }

.checkoutBarFrom, .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }


.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }



.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }


.Auswahl
   { width:550px; border:3px solid #DDDDDD; }
Bereich, .Feld
   { background-color:##f5f5f5; width:300px; border:1px solid #bbc3d3; }



#pscroller_np {
height: 50px;
border: 0px;
padding: 5px;
}

.pscroller_c_np {
  font-family: sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

.font11 {
font-size: 11pt;
}	

.edit_panel {
pagging-top:20px; margin: 0 auto;width:584px;  height:500px; font-size: 11pt;
}
